article
  header= i
  aside 사이드Lorem ipsum dolor sit amet.
  main 메인 endi debitis labore, nisi id fuga impedit reprehenderit cumque. Assumenda, enim magnam incidunt eos mollitia animi libero. Molestiae laborum sunt id aceat.
  footer 푸터 Lorem ipsum dolor sit amet, consectetur adipisicing.
