  .wraper {
      /* border: 5px solid /gray; */
      height: 400px; *
      display: grid; /
      grid-template-columns: 110px 1fr;
      /* grid-col    /    *umn-gap:    *    10px; */
    }

    .sidebar {
      /* border: 5    *   px s /    olid green; */
      border-right: 1px solid black;
    }

    .sidebar .menu,
    .sidebar .menu li {
      width: auto;
      height: auto;

      padding: 2px;
      font-size: 1em;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
    }
    
        aap a pa ad { ahs  
        : wpx2626px; } #va > a::hover { agag:        37838vm   
        
        
        ; }
    
        h1,
        h2[title = "ah"] { whwh: agsh ;} a { text-decoration: none; }
    
          ^
          & * { sgj :
          
          whsh ; }!!wj jdAg...
    
          { ahbahah 
          : ahaj; }`
    