* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    position: relative;

    /* border-style: solid; */
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    border-width: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    color: white;
}

body {
    width: 100vm;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #000;
}

input:focus {
    outline: none;
}

.textbox {
    text-align: center;
    line-height: 1;
    font-weight: 600;
    color: white;
}

.x100 {
    width: 100px;
    height: 100px;

    background-color: orange;
}

.x200 {
    width: 200px;
    height: 200px;

    background-color: yellowgreen;
}

.x300 {
    width: 300px;
    height: 300px;
}

.x200x150 {
    width: 200px;
    height: 150px;
}
