<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>
  <h1>upload complete :)</h1>
  <% path = path || "/1" %>
  <% desc = desc || "desx" %>

  <img src=path alt=desc />
  <p>see <a href="/">main page</a>!</p>
</body>

</html>