.window {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.window>.slide {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, auto); */
  height: 100vh;
}

.window>.slide>.item {
  width: 100vw;
}