* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;

  overflow: hidden;

  border: solid 2px red;
}

.v100 {
  min-width: 100vw;
  min-height: 100vh;
}