.grid {
      display: grid;

      grid-template-columns:
        repeat(3, 1fr);
      grid-template-rows:
        repeat(3, 1fr);

      gap: 10px
    }
    
.item {
      background-color: aquamarine;
      opacity: .87;
      width: 100px;
      height: 100px;
    }