<!DOCTYPE html>
<html>

<head>
  <%- include('meta') %>
  <title><%=title %></title>
</head>

<body>
  <h1>Main page</h1>
  <p><strong><%= warningMsg %></strong></p>
  <ul>
    site map
    <li><a href="/login">login</a></li>
  </ul>
</body>

</html>